body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

form input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    background: white;
    padding: 15px;
}
